@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

html {
    scroll-behavior: smooth;
}

a,
.button {
    transition: all 0.3s ease;
}


nav,
.nav-links {
    display: flex;
}

nav {
    background: linear-gradient(90deg, #033905 0%, black 100%);
    color: white;
    justify-content: space-around;
    align-items: center;
    height: 7vh;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-links {
    list-style: none;
    gap: 2rem;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

a:hover {
    color: #76c776;
}

#mobile-nav {
    display: none;
}

.humburger-menu {
    position: relative;
    display: inline-block;
}

.humburger-icon {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 24px;
    width: 30px;
    cursor: pointer;

}

.humburger-icon span {
    height: 4px;
    width: 100%;
    background-color: white;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background: linear-gradient(90deg, #033905 0%, black 100%);
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.menu-links a {
    display: block;
    padding: 1rem 2rem;
    text-align: center;
    color: white;
    text-decoration: none;
    border-bottom: 0.1rem solid rgba(255, 255, 255, 0.2);
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

/* Home Section */

#home {
    position: relative;
    height: 100vh;
    width: 100%;
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.bg-video {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
    overflow: hidden;
    filter: brightness(50%);
}

.hero {
    z-index: 1;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.btn {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.button {
    background-color: #033905;
    color: white;
    padding: 0.8rem 1rem;
    border: none;
    border-radius: 1rem;
    font-size: larger;
    font-weight: bolder;
    cursor: pointer;
}

.button:hover {
    background-color: #76c776;
}

/* What-is-greenhouse */

#What-is-greenhouse {
    height: 96vh;
    justify-content: center;
    margin-top: 5rem;
    color: #033905;
}

.greenhouse-information {
    text-align: center;
}

.plant01 {
    width: 550px;
    height: 350px;
    border-radius: 2rem;
}

.container {
    padding-top: 4rem;
    margin: 0 10rem;
    box-sizing: border-box;
    display: flex;
    gap: 5rem;
}

.plant-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.plant-container p {
    margin-top: 1rem;
    text-align: justify;
}



/* why-is-greenhouse */

#why-is-greenhouse {
    height: 96vh;
    justify-content: center;
    margin-top: 5rem;
    gap: 1rem;
    color: #033905;
}

.types-of-green {
    text-align: center;
}

.plant-card-container {
    display: flex;
    gap: 2rem;

}

.plant-card {
    padding: 1rem;
    border-radius: 1rem;
    border: 0.1rem solid #033905;
    align-self: center;
    justify-content: center;
}

.plant-card h3 {
    text-align: center;
}

.plant-card-img {
    width: 250px;
    height: auto;
    border-radius: 1rem;
}

.btn-card-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.btn-card {
    margin-top: 1rem;
    background-color: #033905;
    color: white;
    padding: 0.8rem 1rem;
    border: none;
    border-radius: 1rem;
    font-weight: bolder;
    cursor: pointer;
}

.btn-card:hover {
    background-color: #76c776;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

/* CTA Section */

#CTA {
    height: 50vh;
    background-color: #033905;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
}

.button-CTA {
    margin-top: 1rem;
    background-color: #76c776;
    color: white;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 1rem;
    font-size: larger;
    font-weight: bolder;
    cursor: pointer;
}

.button-CTA:hover {
    background-color: white;
    color: #033905;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

/* Footer Section */

footer {
    background-color: #033905;
    color: white;
    text-align: center;
    padding: 1rem;
}

/* About Page */

.about-container {
    background-image: url('./assets/about-us.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 96vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: larger;
    font-weight: bolder;
    letter-spacing: 0.1rem;

}

.about-line {
    background-color: white;
    margin-top: 1rem;
    height: 0.1rem;
    width: 28%;
}

/* Who We Are Section */

.who-we-are-container {
    margin: 5rem 10rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #033905;
}

.who-we-are-text {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    gap: 2rem;
    letter-spacing: 0.1rem;
}

.who-we-are-text span {
    background-color: #033905;
    height: 0.1rem;
    width: 8%;
}

.who-we-are-image {
    width: 100%;
    height: 600px;
    border-radius: 2rem;
}

/*vision-mission-section*/

.vision-mission-container {
    margin: 5rem 10rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #033905;
}

.vision-mission-text {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    gap: 2rem;
}

.vision-mission-text span {
    background-color: #033905;
    height: 0.1rem;
    width: 40%;
}

.icon {
    font-size: 64px;
    color: #033905;
    margin-bottom: 1rem;
}

.vision-mission-content {
    display: flex;
    height: 46vh;
    justify-content: space-around;
    background-color: #e8fce8;
    border-radius: 2rem;

    align-items: center;
}

.vision-mission-content p {
    text-align: justify;
}

.vision-mission-span {
    background-color: #033905;
    height: 100%;
    width: 0.1rem;
    justify-content: center;
    align-items: center;
}

.vision,
.mission {
    padding: 5rem;
    text-align: center;
}

.Experience-container {
    display: flex;
    height: 30vh;
    margin: 5rem 20rem;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    color: #033905;
    gap: 2rem;
}

.Experience-container span {
    background-color: #033905;
    height: 100px;
    width: 0.1rem;
    justify-content: center;
    align-items: center;
}

.content-Experience {
    font-size: larger;
    font-weight: bolder;

}

.about-footer {
    background-image: url('./assets/Vision-Mission.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
}

/* Services Section */

#services {
    background-color: #e8fce8;
}

.section-heading {
    height: 96vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #033905;
    text-align: center;
    font-size: larger;
    letter-spacing: 1.6px;
}

.services-container {
    display: flex;
    height: 96vh;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin: 4rem 10rem 0 10rem;
    color: #033905;
}

.service-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.service-image {
    width: 300px;
    height: 270px;
    border-radius: 1rem;
}

#service-background-image {
    background-image: url('./assets/Services-bachground.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    margin-top: 0rem;
}

#service-container-image {
    height: 90vh;
    margin: 5rem 5rem;
}

.service-image-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.services-content-01 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services-content-02 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services-content-03 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-image {
    width: 360px;
    height: 200px;
    border-radius: 2rem;
}